server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/support_triage
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
